# Computational Assignment 1

 **Assigned Monday, 9-9-19.**, **Due Thursday, 9-12-19.**

Most of the problems we encounter in computational chemistry are multidimensional. This means that we need to be able to work with vectors and matrices in our code. Even when we consider a 1-dimensional function, we still need to code all of the data points into a list. 

Additionally, when we need to analyze data, we don't want to reinvent the wheel. It can be useful to code your own math operation once to learn how it work, but most of the time you should be using existing libraries in your work. We will cover how to use math and science libraries to run calcualtions.

This notebook will cover the following concepts:

1. Lists and arrays
1. Defining lists
1. Accessing list values
1. Changing lists
1. Counting, sorting, and looping methods

## 1. Lists and Arrays

Computers regularly deal with multidimensional data. Even if you have one-dimensional data from some sort of function, $F(t)$, you would write the data points into a list of numbers. When talking about code, we call these lists or arrays.

In [123]:
my_list=[1,2,3,4,5,6,7]

Python specifically has a few of ways to handle arrays. The most basic data object for handeling data is the **list**. The other two data objects are **tuples** and **dictionaries**. 

Lists are defined with brackets `[]`
Tuples are defined with parenthessis `()`
Dictionaries are defined with curly brackets `{}`

We won't spend much time with tuples. They behave a lot like lists, but once make one, you can't change any of the values in the tuple. This can be useful if you want to make sure data values are not changed through a calculation. They also tend be faster to process, but you won't notice the speedup unless you are trying to process lots of data (Gb of data).

## 1.1 Defining Lists

In python, we create **lists** by defining a set of numbers in a bracket

In [124]:
[1,2,3]

[1, 2, 3]

You should also make sure to define your list as a variable so that you can use it later. Otherwise there is no way to call it. If you don't want to overwrite your variable, use a different name for the new varaiable

In [125]:
my_list2=[1,2,3]
print(my_list2)

[1, 2, 3]

You can also define an empty list. This is sometimes usefull if you plan to add alements to the list (more on the later

In [126]:
empty=[]

Lists also don't have to be numbers. They can be a collection of strings (text)

In [127]:
sonoran_plants=["saguaro","ocotillo","pitaya","creosote"]

Your list can be a list of lists! Notice the line break. You can do that when there is a comma. This helps make your code readable, which is one of the underlying philosophies of python

In [128]:
sonoran_plants_animals=[["saguaro","ocotillo","pitaya","creosote"],
                        ["coyote","kangaroo mouse","javalina","gila monster"]]

Notice that the two nested lists are different sizes. Mathematically, these lists are not going to behave like vectors or matrices. Python will not add or multiply a list according to the rules of matrix algebra. This is fine. When we need matrices and vectors, it will make more sense to use arrays associated with the math library Numpy. And the Numpy library can usually understand most python lists. Most of the time, if you are using a list, you are mostly trying to organize data, not run a heavy calculation.

### Exercise 1.1: 
Make your own lists. 

1. Make a one-dimensional list of numbers 
1. A three dimensional list of numbers (a list of three lists)
1. Make a lists of strings
1. Make a two-dimensional list of strings
1. Print all of your lists

Make sure to define your lists with variables. We will use your lists later on

In [129]:
my_list=[5,4,3,2,1]
print(my_list)

[5, 4, 3, 2, 1]

In [130]:
list_of_lists=[[1,2,3],
               [4,5,6],
               [7,8,9]]
print(list_of_lists)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [131]:
list_of_strings=["authentic","era","old skool","slip on"]
print(list_of_strings)

['authentic', 'era', 'old skool', 'slip on']

In [132]:
two_d_strings=[["authentic","era","old skool","slip on"],
              ["Vick", "Mechy", "Patsy", "Matt"]]
print(two_d_strings)

[['authentic', 'era', 'old skool', 'slip on'], ['Vick', 'Mechy', 'Patsy', 'Matt']]

## 1.2 List indexing

Once you've made a list, you need to know how to get values from the list. To get a value from list use square brackets next to the variable name. `my_list[index]`. The first thing to note is that list indeces start at 0

In [133]:
# Printing the list to remind us of the elements
print(my_list)

[5, 4, 3, 2, 1]

Your indexing can also be negative. The list indexing is cyclic, so if the first element is 0, the last element is -1, the second to last element is -2, etc.

In [134]:
my_list[-1]

1

In [135]:
my_list[-2]

2

If your list is a list of lists, calling an index will give you the nested list. You need two indices to get individual items

In [136]:
# Printing the list to remind us of the elements
print(sonoran_plants_animals)

[['saguaro', 'ocotillo', 'pitaya', 'creosote'], ['coyote', 'kangaroo mouse', 'javalina', 'gila monster']]

In [137]:
sonoran_plants_animals[0]

['saguaro', 'ocotillo', 'pitaya', 'creosote']

In [138]:
sonoran_plants_animals[0][-1]

'creosote'

You can also make a new sublist by calling a range of indices

In [139]:
# Printing the list to remind us of the elements
print(my_list)

[5, 4, 3, 2, 1]

In [140]:
my_list[2:5]

[3, 2, 1]

You can also make a range with negatice indices. Order matters here, more negative number must be first

In [141]:
my_list[-4:-1]

[4, 3, 2]

### Exercise 1.2

Using the lists you made from up above do the following:

1. For each list you made before, print the first and last values
1. For each multi-dimensional list print the first and last entry of each nested list
1. For each one-dimensional list, use a range of indices to make a new sublist

In [142]:
my_list[0]

5

In [143]:
my_list[4]

1

In [144]:
list_of_lists[0][0]

1

In [145]:
list_of_lists[2][-1]

9

In [146]:
list_of_strings[0]

'authentic'

In [147]:
list_of_strings[3]

'slip on'

In [148]:
two_d_strings[0][0]

'authentic'

In [149]:
two_d_strings[1][-1]

'Matt'

In [150]:
list_of_lists[0][0]

1

In [151]:
list_of_lists[0][-1]

3

In [152]:
list_of_lists[1][0]

4

In [153]:
list_of_lists[1][-1]

6

In [154]:
list_of_lists[2][0]

7

In [155]:
list_of_lists[2][-1]

9

In [156]:
two_d_strings[0][0]

'authentic'

In [157]:
two_d_strings[0][-1]

'slip on'

In [158]:
two_d_strings[1][0]

'Vick'

In [159]:
two_d_strings[1][-1]

'Matt'

In [160]:
print(my_list)

[5, 4, 3, 2, 1]

In [161]:
my_list[2:5]

[3, 2, 1]

In [162]:
list_of_strings[0:3]

['authentic', 'era', 'old skool']

## 1.3 Changing lists

First, we can get the length of a list. Many times, our list is very long or read in from a file. We may need to knwo how long the list actuall is

In [163]:
# Printing the list to remind us of the elements
print(sonoran_plants)

['saguaro', 'ocotillo', 'pitaya', 'creosote']

In [164]:
len(sonoran_plants)

4

We can change our lists after we make them. We can change individual values or we can add or remove values from a list. Note that tuples cannot be changed (they are called immutable)

In [165]:
# Printing the list to remind us of the elements
print(my_list)

[5, 4, 3, 2, 1]

Individual values in a list can be changed

In [166]:
my_list[2] = -3
print(my_list)

[5, 4, -3, 2, 1]

Values can be added to a list

In [167]:
my_list.append(8)
print(my_list)

[5, 4, -3, 2, 1, 8]

Values can be removed from a list

In [168]:
my_list.remove(-3)
print(my_list)

[5, 4, 2, 1, 8]

A quick note about objects. Python is an object oriented language. It's underlying philosophy is that everything is an object. An object has atributes and methods. You can get information about the attributes and you can use the methods to change the properties of the object. 

In python you call the object attributes or methods using this format: `object_variable.attribute` For a list, you add values by changing the attribute `list.append(x)`, `list.remove(x)`.

We can add the elements of a list to our list

In [169]:
my_list.extend([1,2,3,4])

In [170]:
print(my_list)

[5, 4, 2, 1, 8, 1, 2, 3, 4]

We can insert values at a given index. When using insert, the first value is the index, the second value is the new list element

In [171]:
my_list.insert(0,15)
print(my_list)

[15, 5, 4, 2, 1, 8, 1, 2, 3, 4]

We can remove elements at a given index

In [172]:
my_list.pop(3)
print(my_list)

[15, 5, 4, 1, 8, 1, 2, 3, 4]

### Exercise 1.3 

For each one-dimensional list from above 

1. Append a new element
1. Remove a previous element
1. Extend the lists with new lists of elements
1. Insert a value at the fourth index
1. Pop the last value

In [173]:
print(my_list)

[15, 5, 4, 1, 8, 1, 2, 3, 4]

In [174]:
my_list.append(5)
print(my_list)

[15, 5, 4, 1, 8, 1, 2, 3, 4, 5]

In [175]:
my_list.remove(5)
print(my_list)

[15, 4, 1, 8, 1, 2, 3, 4, 5]

In [176]:
print(list_of_strings)

['authentic', 'era', 'old skool', 'slip on']

In [177]:
list_of_strings.append("classic")
print(list_of_strings)

['authentic', 'era', 'old skool', 'slip on', 'classic']

In [178]:
list_of_strings.remove("slip on")

In [179]:
print(list_of_strings)

['authentic', 'era', 'old skool', 'classic']

In [180]:
my_list.extend([6,7,8,9])
print(my_list)

[15, 4, 1, 8, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [181]:
list_of_strings.extend(["retro", "vault"])
print(list_of_strings)

['authentic', 'era', 'old skool', 'classic', 'retro', 'vault']

In [182]:
my_list.insert(0,15)
print(my_list)

[15, 15, 4, 1, 8, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [203]:
print(my_list)

[15, 15, 4, 1, 8, 1, 2, 3, 4, 5, 6, 7]

In [204]:
my_list.pop(11)

7

In [205]:
print(my_list)

[15, 15, 4, 1, 8, 1, 2, 3, 4, 5, 6]

In [206]:
print(list_of_strings)

['authentic', 'era', 'old skool', 'classic', 'retro', 'vault']

In [207]:
list_of_strings.insert(0,"canvas")

In [208]:
print(list_of_strings)

['canvas', 'authentic', 'era', 'old skool', 'classic', 'retro', 'vault']

In [209]:
list_of_strings.pop(6)

'vault'

In [210]:
print(list_of_strings)

['canvas', 'authentic', 'era', 'old skool', 'classic', 'retro']

## 1.4 Counting, sorting, and looping methods

There are a number of other list methods you can use to change your list. To demonstrate these methods, we will make a list of random integers using the append method

In [211]:
# Build a list of random integers
import random # import random number generator library

rand_list=[] # Note this starts as an empty list

for i in range(0,100):
    rand_num=random.randrange(0,10)
    rand_list.append(rand_num)
    
print(rand_list)

[0, 2, 5, 8, 3, 0, 8, 8, 9, 4, 0, 9, 9, 3, 5, 3, 8, 0, 7, 1, 6, 3, 2, 0, 6, 8, 5, 2, 5, 7, 3, 1, 6, 8, 8, 5, 4, 3, 4, 6, 4, 7, 6, 8, 4, 3, 3, 6, 5, 4, 7, 0, 6, 4, 1, 8, 7, 0, 7, 1, 1, 5, 6, 1, 8, 4, 6, 3, 6, 8, 2, 5, 5, 1, 4, 5, 4, 2, 3, 6, 6, 4, 7, 2, 3, 0, 7, 6, 0, 7, 5, 5, 9, 5, 0, 8, 1, 3, 5, 7]

We can count the number of times a value is found in our list. This can be really useful for analysis

In [212]:
rand_list.count(3)

12

We can determine the index of the first instance of a value

In [213]:
rand_list.index(3)

4

The first time that a 3 is found is at list index 0. If you want to keep finding values of 3, you can use a range index to get the other values

In [214]:
rand_list[1:-1].index(3)

3

In [215]:
rand_list[19:-1].index(3)

2

The reason this gives you 1 is that the next instance of 3 is the $20^{\text{th}}$ element $(19+1)$

We can also sort the list

In [216]:
rand_list.sort()
print(rand_list)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9]

We can reverse the list

In [217]:
rand_list.reverse()
print(rand_list)

[9, 9, 9, 9, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

Lastly, any list can be looped over in python

In [218]:
for plants in sonoran_plants:
    print(plants)

saguaro
ocotillo
pitaya
creosote

Multidimensional lists can also be looped over. The first loop counts over the nested loops, the second loop counts over the list elements

In [219]:
for collections in sonoran_plants_animals:
    for name in collections:
        print(name)

saguaro
ocotillo
pitaya
creosote
coyote
kangaroo mouse
javalina
gila monster

### Excercise 1.4

For this exercise, we will creat a list of random number

In [220]:
rand1=[]

for i in range(0,100):
    rand_num1=random.randrange(0,10)
    rand1.append(rand_num1)

In [221]:
print(rand1)

[8, 8, 1, 1, 9, 1, 6, 5, 7, 1, 4, 4, 3, 2, 7, 5, 4, 0, 2, 0, 3, 3, 8, 3, 5, 2, 3, 0, 8, 5, 3, 4, 4, 0, 6, 7, 9, 7, 3, 8, 1, 1, 2, 6, 5, 8, 4, 5, 2, 7, 0, 7, 7, 4, 1, 2, 9, 5, 9, 1, 8, 1, 6, 5, 6, 4, 6, 2, 4, 7, 5, 7, 1, 0, 2, 4, 6, 6, 1, 7, 8, 8, 9, 0, 9, 0, 2, 3, 5, 2, 8, 8, 4, 9, 0, 7, 7, 7, 8, 5]

Using the list above, 

1. Count and print the nunber of instances of each integer (**Hint:** you can use a loop ranging from 0-9 to do this)
2. Loop over the elements of rand1 and make a new list that labels each element as even or odd. For example given the list `[1,6,9]`, you would have a list that looked like `["odd","even","odd"]`. 

Hint: You can use the modulo operator `a%b`. This operator give you the remainder when you divide a by b. If `a/b` has no remainder, then `a%b=0` See the examples below.

In [222]:
# Modulo example
print(4%2)
print(4%3)

0
1

In [223]:
# Module conditional
i=4
if (i%2==0):
    print("even")
else:
    print("odd")

even

Remember that you can always make new cells. Use them to test parts of you code along the way and to seperate your code to make it readable

In [225]:
rand_list.count(0)

10

In [226]:
rand_list.count(1)

8

In [227]:
rand_list.count(2)

6

In [228]:
rand_list.count(3)

12

In [229]:
rand_list.count(4)

11

In [230]:
rand_list.count(5)

14

In [231]:
rand_list.count(6)

13

In [232]:
rand_list.count(7)

10

In [233]:
rand_list.count(8)

12

In [234]:
rand_list.count(9)

4

In [235]:
print(rand1)

[8, 8, 1, 1, 9, 1, 6, 5, 7, 1, 4, 4, 3, 2, 7, 5, 4, 0, 2, 0, 3, 3, 8, 3, 5, 2, 3, 0, 8, 5, 3, 4, 4, 0, 6, 7, 9, 7, 3, 8, 1, 1, 2, 6, 5, 8, 4, 5, 2, 7, 0, 7, 7, 4, 1, 2, 9, 5, 9, 1, 8, 1, 6, 5, 6, 4, 6, 2, 4, 7, 5, 7, 1, 0, 2, 4, 6, 6, 1, 7, 8, 8, 9, 0, 9, 0, 2, 3, 5, 2, 8, 8, 4, 9, 0, 7, 7, 7, 8, 5]

In [236]:
random_list=[]
for numbers in rand1:
    if (numbers%2==0):
        random_list.append("even")
    else:
        random_list.append("odd")

In [237]:
print(random_list)

['even', 'even', 'odd', 'odd', 'odd', 'odd', 'even', 'odd', 'odd', 'odd', 'even', 'even', 'odd', 'even', 'odd', 'odd', 'even', 'even', 'even', 'even', 'odd', 'odd', 'even', 'odd', 'odd', 'even', 'odd', 'even', 'even', 'odd', 'odd', 'even', 'even', 'even', 'even', 'odd', 'odd', 'odd', 'odd', 'even', 'odd', 'odd', 'even', 'even', 'odd', 'even', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'odd', 'even', 'odd', 'even', 'odd', 'odd', 'odd', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'even', 'even', 'even', 'even', 'odd', 'odd', 'odd', 'odd', 'even', 'even', 'even', 'even', 'even', 'odd', 'odd', 'even', 'even', 'odd', 'even', 'odd', 'even', 'even', 'odd', 'odd', 'even', 'even', 'even', 'even', 'odd', 'even', 'odd', 'odd', 'odd', 'even', 'odd']